@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src:  url("fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
  font-weight: 400;
}

.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.navigation-list {
  display: flex;
  padding-left: 72px;
  padding-right: 72px;
}

.logo {
  margin: 0 auto;
}

.navigation-link {
  font-size: 20px;
  font-style: normal;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}

.navigation-user {

}

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.first-screen{
  font-size: 22px;
  line-height: 36px;
  text-align: center;
  background: #e1f5f7 url("img/index-background.jpg") no-repeat 100% 100% ;
}

.welcome {
  display: block;
  margin: 0 auto;
}

.first-screen h2{
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.advantages-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.advantages-list li {
  text-align: center;
}

.advantages-title {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}

.advantage-block {
  width: 400px;
}

.real-town {
  color:#ffffff;
  background-color: #83B3D3;
}

.advantages-photo {
  width: 800px;
}

.housing {
  background-color: rgba(131, 179, 211, 0.12);
}

.souvenirs {
  background-color: rgba(131, 179, 211, 0.12);
}

.devils-bridge {
  color:#ffffff;
  background-color: #83B3D3;
}

.places {
  background-color: rgba(131, 179, 211, 0.12);
}

.way {
  background-color: rgba(131, 179, 211, 0.2);
}

.few-tourists {
  background-color: rgba(131, 179, 211, 0.12);
}

.search-hotel {
  text-align: center;
}

.search-hotel h3 {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  font-weight: 700;
}

.search-hotel p {
  font-size: 22px;
  line-height: 26px;
}

.search-hotel .button {
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color:#ffffff;
  background-color: #756257;
  text-decoration: none;
  font-weight: 700;
}

.mailing {
  background-image: url(img/background.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #83B3D3;
  color: #ffffff;
  text-align: center;
}

.mailing h3 {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  font-weight: 700;
}

.newsletter-button {
  font-size: 20px;
  line-height: 26px;
  background-color: #83B3D3;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
}

.page-footer {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: auto;
}

.footer-social-list {
  display: flex;
}

    /* Далее стили для страницы каталога */

.filter {
  background-image: url(img\catalog-background.jpg);
  background-position: 100% auto;
  background-repeat: no-repeat;
  color: #ffffff;
  background-color:#83B3D3 ;
}

.filter-title {
  font-size: 60px;
  line-height: 78px;
}


.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
}

.catalog-filter {
  display: flex;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 26px;
}

.control-label {
  font-size: 18px;
  line-height: 23px;
}

.apply {
  text-transform: uppercase;
  background-color: #83B3D3;
  font-size: 16px;
  line-height: 21px;
}

.reset {
  font-size: 18px;
  line-height: 23px;
}

.sort {
  display: flex;
}

.result-search {
  text-transform: uppercase;
  font-size: 30px;
  line-height: 39px;
}

.select-control {
  font-size: 18px;
  line-height: 23px;
  width: 290px;

}

.range-toggle {
  width: 290px;
}

.product-card {
  display: flex;
}

.product-card-button {
  width: 160px;
}

.product-card-link {
  text-decoration: none;
  display: flex;
}

.product-card-title {
  font-size: 24px;
  line-height: 31px;
  color: black;
  font-weight: 700;
}

.product-card-link p{
  color: #000000;
}

.button-detail {
  color: #ffffff;
  background-color: #756257;
  text-decoration: none;
}

.button-favourites {
 background-color: #83B3D3;
}

.product-card p {
  font-size: 18px;
  line-height: 23px;
}

.rating {
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  width: 160px;
  height: 37px;
  background-color: #F2F2F2;
  margin-right: 70px;
}

.product-show {
  margin: 0 auto;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  background-color: #83B3D3;
  width: 625px;
  height: 55px;
}

.sort-visual {
  display: flex;
  justify-content: space-between;
}

.visual-control {
  width: 160px;
  height: 50px;
}

.pagination {
  display: flex;
}

.pagination-item {
  background-color: #83B3D3;

}

.pagination-link {
  text-decoration: none;
  color: #ffffff;
}

.hotels-page {
  font-size: 18px;
  line-height: 23px;
}
