@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
  font-weight: 400;
}

.current {
  position: relative;
}

.current::after {
  content: "";
  position: absolute;
  display: block;
  bottom: -23px;
  left: 0;
  right: 0;
  height: 2px;
  background: black;
}

.navigation {
  display: flex;
  width: 1200px;
  height: auto;
  margin: 0 auto;
  position: relative;
  padding: 0px;
}

.navigation-list {
  grid-column: 1/2;
  grid-row: 1/-1;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  align-items: center;
  margin: 0px;
  margin-left: 40px;
  padding: 0px;
}

.navigation-item {
  margin-right: 33px;
  position: relative;
}

.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.navigation-link {
  display: block;
  font-size: 20px;
  font-style: bold;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}

.navigation-link:hover {
  color: #756257;
}

.navigation-link:focus {
  outline-color: #83B3D3;
}

.navigation-user {
  margin-left: auto;
  margin-right: 72px;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: center;
  align-items: center;
}

.navigation-user .navigation-link {
  min-width: 18px;
  min-height: 18px;
}

.navigation-link div {
  position: relative;
}

.selected {
  font-size: 10px;
  font-family: inherit;
  font-weight: 400;
  text-align: center;
  line-height: 13px;
  margin: 0px;
  color: white;
  width: 19px;
  height: 19px;
  background-color: #7DB54F;
  border-radius: 50%;
  position: absolute;
  top: -8px;
  right: -12px;
}

.navigation-item .button {
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  color:#ffffff;
  background-color: #756257;
  text-decoration: none;
  font-weight: 700;
  border-radius: 4px;
  width: 160px;
  height: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-nav:hover {
  background-color: #615048;
}

.button:focus {
  outline-color: #83B3D3;
}

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.first-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: min-content;
}

.first-screen-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: min-content;
  background: #ffffff url(../img/index-background.jpg) no-repeat center top;
  padding: 0px;
}

.welcome {
  margin-top: 51px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 26px;
}

.divider {
  padding: 0px;
  margin: 0px;
  position: relative;
  bottom: 0px;
}

.first-screen-preview {
  padding: 0px;
  margin: 0px;
  margin-bottom: 79px;
}

.first-screen-preview h2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-top: 63px;
  margin-bottom: 23px;
}

.first-screen-preview span {
  font-size: 22px;
  line-height: 36px;
  text-align: center;
  margin: 0px;
}

.advantages-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: 384px 384px 384px;
}

.advantages-title {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}

.advantage-block {
  width: 400px;
  min-height: 384px;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.real-town {
  color:#ffffff;
  background-color: #83B3D3;
  grid-column: 1/2;
  grid-row: 1/2;
}

.photo-street {
  grid-column: 2/4;
  grid-row: 1/2;
}

.housing {
  background-color: rgba(131, 179, 211, 0.12);
  grid-column: 1/2;
  grid-row: 2/3;
}

.food {
  grid-column: 2/3;
  grid-row: 2/3;
}

.souvenirs {
  background-color: rgba(131, 179, 211, 0.12);
  grid-column: 3/4;
  grid-row: 2/3;
}

.photo-canyon {
  grid-column: 1/3;
  grid-row: 3/4;
}

.devils-bridge {
  color:#ffffff;
  background-color: #83B3D3;
}

.places {
  background-color: rgba(131, 179, 211, 0.12);
}

.way {
  background-color: rgba(131, 179, 211, 0.2);
}

.few-tourists {
  background-color: rgba(131, 179, 211, 0.12);
}

.search-hotel {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}

.search-hotel h3 {
  margin-top: 91px;
  margin-bottom: 15px;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  font-weight: 700;
}

.search-hotel p {
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 73px;
  text-align: center;
}

.search-hotel .button {
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color:#ffffff;
  background-color: #756257;
  text-decoration: none;
  font-weight: 700;
  margin-bottom: 91px;
  padding: 13px 145px 17px 145px;
  border-radius: 10px;
}

.search-hotel .button:hover {
  background-color: #615048;
}

.mailing {
  background-image: url(../img/background.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #83B3D3;
  color: #ffffff;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mailing h3 {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 94px;
  margin-bottom: 15px;
}

.mailing p {
  margin-bottom: 26px;
  text-align: center;
}

.mailing-catalog {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mailing-catalog h3 {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 94px;
  margin-bottom: 15px;
}

.mailing-catalog p {
  margin-bottom: 26px;
  text-align: center;
}

.newsletter-form {
  display: grid;
  grid-template-columns: 600px 200px;
  grid-template-rows: 60px;
  margin-bottom: 94px;
}

.newsletter-form:focus {
  color: #68A2CA;
}

.field {
  padding: 22px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: none;
  background-color: #F2F2F2;
}

.field:hover {
  background-color: #e5e5e5;
}

.field:focus {
  outline-color: #83B3D3;
  background-color: #e5e5e5;
}

.field:active {
  background-color: #ffffff;
  color: #000000;
}

.newsletter-button {
  font-size: 20px;
  line-height: 26px;
  background-color: #83B3D3;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: none;
}

.newsletter-button:hover {
  background-color: #68A2CA;
  cursor: pointer;
}

.newsletter-button:focus {
  outline: 2px solid #615048;
  color: white;
  background-color: #68A2CA;
}

.field {
  font-family: inherit;
}

.page-footer {
  display: flex;
  align-items: center;
  width: 1200px;
  height: auto;
  margin: auto;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin-left: 72px;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 55px;
  padding: 0px;
  margin-right: 35px;
  min-width: 130px;
}

.footer-social-item {
  width: 25px;
  height: 25px;
  margin-right: 15px;
}

.footer-social-item:hover {
  outline-color: #83B3D3;
}

.footer-social-item:focus {
  outline-color: #83B3D3;
}

.footer-social-link {
  display: block;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #FFFFFF;
}

.footer-social-tw {
  background-image: url(../img/icon/logo-twitter.svg);
}

.footer-social-fb {
  background-image: url(../img/icon/logo-facebook.svg);
}

.footer-social-youtube {
  background-image: url(../img/icon/logo-youtube.svg);
}

.footer-contacts {
  display: flex;
  flex-wrap: wrap;
}

.footer-contacts-phone {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  min-width: 720px;
}

.footer-phone {
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #000000;
  font-size: 40px;
  font-weight: 400;
  font-style: normal;
}

.footer-phone:hover {
  color: #756257;
}

.footer-phone:focus {
  outline-color: #83B3D3;
  color: #756257;
}

.htmlacademy {
  margin-right: 72px;
  margin-left: 50px;
  margin-top: 42px;
  margin-bottom: 44px;
}

.htmlacademy-link:hover {
  color: #756257;
}

.htmlacademy-link:focus {
  outline-color: #83B3D3;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.filter {
  background-image: url(../img/catalog-background.jpg);
  background-position: 100% auto;
  background-repeat: no-repeat;
  color: #ffffff;
  background-color:#83B3D3 ;
  height: auto;
  padding-top: 35px;
  padding-left: 71px;
  padding-right: 71px;
  padding-bottom: 83px;
}

.filter-title {
  font-size: 60px;
  line-height: 78px;
  margin-right: auto;
  margin: 0px;
  margin-bottom: 5px;
}

.breadcrumbs {
  list-style-type: none;
  margin-right: auto;
  display: flex;
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 45px;
}

.breadcrumbs li {
  margin-right: 10px;
}

.breadcrumbs-item:hover {
  opacity: 0.6;
  cursor: pointer;
}

.breadcrumbs-link:focus {
  outline-color: #68A2CA;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  color: white;
}

.catalog-filter {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 30px;

}

.catalog-filter-group {
  border: 0px;

}

.catalog-filter-list {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.catalog-filter-item {
  margin-bottom: 16px;
}

.infrastructure {
  grid-column: 1/2;
  grid-row: 1/-1;
}

.control {
  position: relative;
  display: block;
  padding: 0px;
}

.control:hover {
  cursor: pointer;
}

.control input {
  display: none;
  position: absolute;
}

.control-input, control-label {
  position: absolute;
}

.control-input + .control-label:before {
  content: "";
	display: inline-block;
	height: 20px;
	width: 20px;
	border: none;
	border-radius: 4px;
	margin-right: 19px;
	background-color: #FFFFFF;
}

.control-input:checked + .control-label:before {
  background-color: black.;
	background-image: url(../img/catalog/chekbox.svg);
  background-repeat: no-repeat;
  background-position: center;
}


.type-housing {
  grid-column: 2/3;
  grid-row: 1/-1;

}

.control-input-radio + .control-label-radio:before {
  content: "";
	display: inline-block;
	height: 20px;
	width: 20px;
	border: none;
	border-radius: 50%;
	margin-right: 19px;
	background-color: #FFFFFF;
}

.control-input-radio:checked + .control-label-radio:before {
  background-color: black.;
	background-image: url(../img/catalog/ellipse.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.cost {
  grid-column: 3/4;
  grid-row: 1/-1;
  margin-right: 81px;
  margin: 0px;
}

.control-label {
  font-size: 18px;
  line-height: 23px;
  font-family: inherit;

}

.catalog-filter-label {
  width: 287px;
  height: 48px;
  border: solid #fff 2px;
  border-radius: 4px;
  margin: 0px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.catalog-filter-label div {
  margin: 0px;
  padding-left: 19px;
  padding: 0px;
  display: flex;
  width: 143px;
  position: relative;
}

.min-price, .max-price {
  background-color: transparent;
  border: none;
  margin: 0px;
  display: inline-block;
  padding: 19px;
  color: white;
  font-size: 18px;
  line-height: 23px;
  width: 100%;
}

.min-input {
  border-right: solid 2px #fff;
}

.min-input p, .max-input p {
  margin: 0px;
  opacity: 30%;
  position: absolute;
  right: 14px;
  top: 12px;
}

.min-price::-webkit-outer-spin-button,
.min-price::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.max-price::-webkit-outer-spin-button,
.max-price::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.catalog-filter-label:hover {
  opacity: 0.6;
}

.input-price:focus {
  outline-color: #68A2CA;
}

.range-control {
  position: relative;
  width: 287px;
  height: 24px;
}

.range-scale {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  height: 4px;
  background: #fff;
}

.bar {
  height: 4px;
  background: #6a6a6a;
  opacity: 0.6;
}

.range-toggle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

.range-toggle:focus {
  outline-color: #68A2CA;
}

.toggle-min {
  left: 0;
}

.toggle-max {
  left: 75%;
}

.filter-btns {
  grid-column: 4/5;
  grid-row: 1/-1;
  display: flex;
  flex-direction: column;
}

.apply {

  text-transform: uppercase;
  background-color: #83B3D3;
  font-size: 16px;
  line-height: 21px;
  margin-bottom: 20px;
  border-radius: 4px;
  width: 160px;
  height: 48px;
  color: white;
  border: none;
  margin-top: 60px;
  }

.apply:hover {
  background-color: rgba(104, 162, 202, 1);
  cursor: pointer;
}

.apply:focus {
  background-color: rgba(104, 162, 202, 1);
  outline-color: #ffffff;
}

.reset {
  font-size: 18px;
  line-height: 23px;
  color: white;
  width: 160px;
  height: 23px;
  background-color: transparent;
  border: none;
}

.reset:hover {
  opacity: 0.6;
  cursor: pointer;
}

.reset:focus {
  outline-color: rgba(131, 179, 211, 1);
}

.sort {
  display: flex;
  align-items: center;
  margin-left: 72px;
  margin-right: 72px;
  margin-top: 44px;
  margin-bottom: 42px;
  border-bottom: solid 1px #E5E5E5;
}

.result-search {
  text-transform: uppercase;
  font-size: 30px;
  line-height: 39px;
  margin-right: 0;
}

.select-sorting {
  width: 285px;
  height: 48px;
  font-size: 18px;
  line-height: 23px;
  margin-left: 120px;
  margin-right: 81px;
  border-radius: 4px;
  font-family: inherit;
  padding-left: 19px;
  padding-right: 20px;
  border: 2px solid #e5e5e5;
  background-color: white;
  background-image: url(../img/catalog/Vector.svg);
  background-repeat: no-repeat;
  background-position: right 16px center;
  appearance: none;
}

.select-sorting:hover {
  border-color: #83B3D3;
}

.select-sorting:focus {
  outline-color: #83B3D3;
}

.visual-mode {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.card-mode {
  width: 48px;
  height: 48px;
  border: 2px solid;
  border-radius: 4px;
  border-color: #E5E5E5;
  padding: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.card-mode:nth-child(2) {
  margin-left: 8px;
  margin-right: 8px;
}

.card-mode:hover {
  border-color: #83B3D3;
}

.card-mode:focus {
  outline-color: #83B3D3;
}

.card-mode:active {
  outline-color: black;
}

.card-mode:nth-child(3) {
  border-color: black;
}

.catalog {
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 72px;
  margin-right: 72px;
}

.catalog-list {
  list-style-type: none;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.product-card-item {
  margin-bottom: 30px;
  border-bottom: solid 1px #E5E5E5;
}

.product-card {
  padding: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 28px;
  display: grid;
  grid-template-columns: min-content min-content min-content 160px;
  grid-template-rows: min-content min-content min-content;
  column-gap: 3px;
  width: 1056px;
  height: 123px;
  margin-bottom: 30px;
}

.image-link {
  grid-column: 1/2;
  grid-row: 1/-1;
  margin-right: 37px;
}

.image-link:hover {
  opacity: 60%;
  cursor: pointer;
}

.image-link:focus {
  outline-color: #83B3D3;
  opacity: 60%;
}

.product-card-link {
  text-decoration: none;
  grid-column: 2/4;
  grid-row: 1/2;
}

.product-card-link:hover {
  opacity: 60%;
  cursor: pointer;
}

.product-card-link:focus {
  outline-color: #83B3D3;
}

.product-card-type {
  grid-column: 2/3;
  grid-row: 2/3;
}

.product-card-price {
  grid-column: 3/4;
  grid-row: 2/3;
}

.product-card-title {
  margin: 0px;
}

.product-card-title:hover {
  color: #756257;
}

.button-detail {
  color: #ffffff;
  background-color: #756257;
  text-decoration: none;
  grid-column: 2/3;
  grid-row: 3/-1;
  width: 150px;
  height: 37px;
  text-align: center;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 21px;
  font-style: bold;
  font-weight: 700;
  margin-right: 5px;
  margin-top: 31px;
  margin-bottom: 0px;
}

.button-detail:hover {
  background-color: #615048;
}

.button-detail:focus {
  outline: 3px solid #83B3D3;
  background-color: #615048;
}

.button-favourites {
  background-color: #83B3D3;
  color: #ffffff;
  grid-column: 3/4;
  grid-row: 3/-1;
  width: 160px;
  height: 37px;
  border-radius: 4px;
  border: none;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 21px;
  font-style: bold;
  font-weight: 700;
  margin-right: 360px;
  margin-top: 31px;
  margin-bottom: 0px;
 }

 .button-favourites:hover {
   background-color: #68A2CA;
   border: #756257 1px solid;
 }

 .button-favourites:focus {
  background-color: #68A2CA;
  outline: #756257 3px solid;
}

.stars {
  grid-column: 4/5;
  grid-row: 1/2;
  padding: 0px;
  text-align: center;
}

 .rating {
  grid-column: 4/5;
  grid-row: 3/-1;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  width: 160px;
  height: 37px;
  background-color: #F2F2F2;
  margin-top: 30px;
  margin-bottom: 0px;
  border-radius: 4px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  position: relative;
  right: auto;
  bottom: 0px;
}

.product-card-title {
  font-size: 24px;
  line-height: 31px;
  color: black;
  font-weight: 700;
}

.content-show {
  border-bottom: solid 1px #E5E5E5;
}

.product-show {
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #83B3D3;
  width: 625px;
  height: 55px;
  border-radius: 4px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border: none;
  margin-bottom: 30px;
  font-weight: 700;
}

.product-show:hover {
  cursor: pointer;
  background-color: #68A2CA;
  border: #756257 1px solid;
}

.product-show:focus {
  background-color: #68A2CA;
  outline: #756257 3px solid;
}

.product-selected {
  background-color: #7DB54F;
}

.pagination {
  margin-left: 72px;
  margin-right: 72px;
  margin-top: 31px;
}

.pagination-visual {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pagination-list {
  list-style-type: none;
  display: flex;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.pagination-item {
  background-color: #83B3D3;
  width: 55px;
  height: 55px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  font-weight: 700;
}

.pagination-item:hover {
  background-color: #68A2CA;
  cursor: pointer;
}

.pagination-item:focus {
  background-color: #68A2CA;
  outline: #756257 3px solid;
}

.pagination-item:active {
  background-color: #F2F2F2;
}

.pagination-link {
  margin: auto;
  text-decoration: none;
  color: #ffffff;
  padding:
}

.pagination-current {
  background-color: #F2F2F2;
}

.pagination-link-current {
  color: black;
}

.pagination-control {
  width: 160px;
  height: 50px;
  font-family: inherit;
  margin-left: 51px;
  padding-left: 17px;
  padding-right: 20px;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  background-color: white;
  background-image: url(../img/catalog/Vector.svg);
  background-repeat: no-repeat;
  background-position: right 16px center;
  appearance: none;
}

.pagination-control:hover {
  border-color: #83B3D3;
}

.pagination-control:focus {
  outline-color: #83B3D3;
}

.hotels-page {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
}

.popover-vector {
  position: absolute;
  top: -9px;
  right: 198px;
  z-index: 1;
  color: white;
  border: none;
}

.popover {
  position: absolute;
  top: 30px;
  right: -200px;
  z-index: 1;
  box-sizing: border-box;
  width: 400px;
  font-family: inherit;
  color: #242424;
  background-color: #FFFFFF;
  min-height: 230px;
  box-shadow: 0 18px 40px rgba(79, 70, 60, 0.16);
  border-radius: 20px;
  display: none;
}

.popover-open {
  display: block;
}

.popover-content {
  height: 100%;
}

.cart-items-list {
  margin: 25px;
  padding: 0px;
}

.cart-item {
  display: grid;
  column-gap: 17px;
  grid-template-columns: 50px 240px auto;
  grid-template-rows: 24px 24px;
  margin-bottom: 25px;
}

.hotels-small {
  border-radius: 50%;
  grid-column: 1/2;
  grid-row: 1/-1;
  margin: 0px;
  vertical-align: middle;
  align-self:center;
}

.cart-item-title {
  grid-column: 2/3;
  grid-row: 1/2;
  margin: 0px;
  padding: 0px;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
  font-style: inherit;
  text-align: start;
  vertical-align: middle;
  align-self:center;
}

.cart-item-type {
  grid-column: 2/3;
  grid-row: 2/3;
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  line-height: 40px;
  font-weight: 400;
  font-style: inherit;
  text-align: start;
  vertical-align: middle;
  align-self:center;
}

.cart-item button {
  grid-column: 3/4;
  grid-row: 1/-1;
  padding: 0px;
  background-color: transparent;
  border: none;
  opacity: 50%;
  vertical-align: middle;
  align-self:center;
}

.all-select {
  text-transform: uppercase;
  color: white;
  background-color: #756257;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  font-style: inherit;
  width: 100%;
  height: 60px;
  border: none;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
  margin: 0px;
  padding: 0px;
}

.modal {
  position: relative;
  margin: auto;
  padding: 40px;
  background-color: #FFFFFF;
  width: 580px;
  display: flex;
  flex-direction: column;
  border-radius: 30px
}

.modal-title {
  display: flex;
  justify-content: space-between;
  padding: 0px;
  margin: 0px;
  margin-bottom: 32px;
}

.modal-title h2 {
  text-transform: uppercase;
  align-items: center;
}

.modal-close {
  align-items: center;
  justify-content: center;
  width: 53px;
  height: 53px;
  border-radius: 50%;
  display: flex;
  padding: 0px;
  border: none;
  margin: 0px;
  background-color: rgba(242, 242, 242, 1);
}

.modal-close:hover {
  background-color: rgba(229, 229, 229, 1);
  cursor: pointer;
}

.modal-close:focus{
  outline-color:#68A2CA;
}

.modal-form {
  display: grid;
  grid-template-columns: 155px 133px auto 133px;
  grid-template-rows: 50px 29px 50px 29px 50px 40px 60px;
}

.date-in-content,
.date-out-content {
  border-radius: 4px;
  background-color: rgba(242, 242, 242, 1);
}

.date-in-title{
  grid-column: 1/2;
  grid-row: 1/2;
}

.date-in-content {
 grid-column: 2/-1;
 grid-row: 1/2;
}

.comment {
  vertical-align: top;
  margin: 0px;
  padding: 0px;
  margin-bottom: 11px;
  font-size: 16px;
}

.in-comment {
  color: rgba(255, 87, 87, 1);
}

.in-comment {
  grid-column: 2/-1;
  grid-row: 2/3;
}

.date-out-title {
  grid-column: 1/2;
  grid-row: 3/4;
}

.date-out-content {
  grid-column: 2/-1;
  grid-row: 3/4;

}

.out-comment {
  grid-column: 2/-1;
  grid-row: 4/5;
  font-size: 16px;
}

.modal-input {
  background-color: rgba(242, 242, 242, 1);
  border: none;
  color: #000000;
  margin-left: 19px;
  width: 350px;
  padding: 0px;
  margin-right: 0px;
}

.modal-input:hover {
  background-color: rgba(229, 229, 229, 1);
}

.modal-input:focus {
  outline-color:#68A2CA;
  background-color: rgba(229, 229, 229, 1);
}

.date-input {
  align-self: center;
  width: 420px;
}

.date-input svg {
  margin-left: auto;
}

.adults {
  grid-column: 1/2;
  grid-row: 5/6;
}

.button-container {
  display: flex;
  justify-content: space-around;
  background-color: rgba(242, 242, 242, 1);
  align-items: center;
}

.number {
  width: 44px;
  background-color: rgba(242, 242, 242, 1);
  text-align: center;
  border: none;
  height: 96%;
  color: #000000;
}

.number:focus {
  outline-color: #68A2CA;
}

.tuning {
  width: 44px;
  border: none;
  background-color: rgba(242, 242, 242, 1);
  padding: 6px;
  width: 25px;
  height: 25px;
}

.tuning:hover {
  color: #000000;
  cursor: pointer;
}

.tuning:focus {
  outline-color: #68A2CA;
}

.minus {
  align-self: center;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.plus {
  opacity: 0.6;
  background-color: rgba(242, 242, 242, 1);
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.button-container-adults {
  grid-column: 2/3;
  grid-row: 5/6;
  width: 133px;
}

.kids-info {
  grid-column: 3/4;
  grid-row: 5/6;
  display: flex;
  align-items: center;
}

.kids {
  justify-content: center;
  align-items: center;
  margin-left: 56px;
  width:54px;
}

.modal-info {
  width: 25px;
  height: 25px;
  background-color: rgba(131, 179, 211, 1);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

.button-container-kids {
  grid-column: 4/5;
  grid-row: 5/6;
}

.modal-button {
  grid-column: 1/-1;
  grid-row: 7/8;
  background-color: rgba(131, 179, 211, 1);
  border: none;
  border-radius: 10px;
  color: white;
  text-transform: uppercase;
  font-family: inherit;
  font-size: 20px;
  line-height: 40px;
  font-weight: 700;
}

.modal-button:hover {
  background-color: rgba(104, 162, 202, 1);
  cursor: pointer;
}

.modal-button:focus {
  background-color: rgba(104, 162, 202, 1);
  outline-color: rgba(117, 98, 87, 1);
}

.modal-fonts {
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  align-self: center;
}

.modal-popover {
  z-index: 1;
  position: absolute;
}

.modal-vector {
  position: absolute;
  top: 19px;
  left: 113px;
}

.modal-popover-content {
  position: absolute;
  background-color: rgba(51, 51, 51, 1);
  color: white;
  font-size: 16px;
  line-height: 20px;
  font-family: inherit;
  width: 200px;
  top: 28px;
  height: min-content;
  padding: 15px 18px 18px 22px;
  border-radius: 10px;
}
